<a href="https://colab.research.google.com/github/minhaqureshi/Course/blob/master/KNN_Example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
  
# create dataset for marks of a student
dict = {'Maths':[80, 90, np.nan, 95], 
        'Chemistry': [60, 65, 56, np.nan], 
        'Physics':[np.nan, 57, 80, 78],
       'Biology' : [78,83,67,np.nan]}
data_df=pd.DataFrame(dict)

In [ ]:
data_df

   Maths  Chemistry  Physics  Biology
0   80.0       60.0      NaN     78.0
1   90.0       65.0     57.0     83.0
2    NaN       56.0     80.0     67.0
3   95.0        NaN     78.0      NaN

In [ ]:
from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors=2)
After_imputation = imputer.fit_transform(data_df)

In [ ]:
pd.DataFrame(After_imputation,columns=data_df.columns)

   Maths  Chemistry  Physics  Biology
0   80.0       60.0     68.5     78.0
1   90.0       65.0     57.0     83.0
2   87.5       56.0     80.0     67.0
3   95.0       58.0     78.0     72.5